.modal {
    position: fixed;
    z-index: 3000;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(48, 62, 185, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}


.isOpen{
    display:flex;
}

.modalContainer{
    max-width:500px;
    min-height: 500px;
    background-color: transparent;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}


.modal-close{
    width: 60px;
    border-radius: 2px;
    background-color: #485fdf;

}

.btnContainer{
    align-self: flex-end;

}