.modifyFormBackground{
    background-color:  #ffffff;
    padding:10px;
    border-radius: 3px ;
    box-shadow: -1px -1px teal;
    min-height: 300px;
    display:flex;
    flex-direction: column;
 }
 
 .modifyFormFields{
    display:flex;
    flex-direction: column;
     align-items: center;
 }

 .btnContainer{
     display:flex;
     margin-top: 20px;
     justify-content: flex-end;
 }

 .modifyDeletebtn{
     
   margin-left: 10px;
    background-color: #485fdf;

 }