.modifyFormBackground{
    position:absolute;
    top: 50;
    right: 50;
    background-color:  #e6faeb;
    padding:10px;
    border-radius: 10px ;
    box-shadow: -1px -1px teal;
    min-height: 300px;
    z-index: 5  ;
 }
 
 .modifyFormFields{
     align-items: center;
 }