.errors{
    color:red;
}

.formBackground{
   background-color:  #ffffff;
   padding:10px;
   border-radius: 3px ;
   box-shadow: -1px -1px teal;
   height: 300px;
}

.formFields{
    align-items: center;
}

.signup-btn{
    background-color: #485fdf;
}