.errors{
    color:red;
}

.formBackground{
   background-color:  #e6faeb;
   padding:10px;
   border-radius: 10px ;
   box-shadow: -1px -1px teal;
   height: 300px;
}

.formFields{
    align-items: center;
}