.userBar{
    justify-content: space-between;
     align-items: center
}
.brandtitle{
    color:#1ab627 !important;
    font-family: 'Alegreya Sans', sans-serif;
    font-size:xx-large;
}

.logoImage {
    height:80px;
}
.userBar img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;

}

.userBar h6{
    align-self: flex-end;
}